LocadoraClienteWS/xml-resources/web-service-references/WSServices/wsdl/192.168.92.50_8080/ServicosDePassagensWS/WSServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.wsprovider.br.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.wsprovider.br.com/" name="ServicosDePassagensWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.wsprovider.br.com/" schemaLocation="http://192.168.92.50:8080/ServicosDePassagensWS/WSServices?xsd=1"/>
</xsd:schema>
</types>
<message name="bucarVoos">
<part name="parameters" element="tns:bucarVoos"/>
</message>
<message name="bucarVoosResponse">
<part name="parameters" element="tns:bucarVoosResponse"/>
</message>
<message name="comprarPassagemIda">
<part name="parameters" element="tns:comprarPassagemIda"/>
</message>
<message name="comprarPassagemIdaResponse">
<part name="parameters" element="tns:comprarPassagemIdaResponse"/>
</message>
<message name="listarPassagens">
<part name="parameters" element="tns:listarPassagens"/>
</message>
<message name="listarPassagensResponse">
<part name="parameters" element="tns:listarPassagensResponse"/>
</message>
<message name="cancelarPassagem">
<part name="parameters" element="tns:cancelarPassagem"/>
</message>
<message name="cancelarPassagemResponse">
<part name="parameters" element="tns:cancelarPassagemResponse"/>
</message>
<message name="comprarPassagemIdaVolta">
<part name="parameters" element="tns:comprarPassagemIdaVolta"/>
</message>
<message name="comprarPassagemIdaVoltaResponse">
<part name="parameters" element="tns:comprarPassagemIdaVoltaResponse"/>
</message>
<portType name="WSServices">
<operation name="bucarVoos">
<input wsam:Action="http://webservices.wsprovider.br.com/WSServices/bucarVoosRequest" message="tns:bucarVoos"/>
<output wsam:Action="http://webservices.wsprovider.br.com/WSServices/bucarVoosResponse" message="tns:bucarVoosResponse"/>
</operation>
<operation name="comprarPassagemIda">
<input wsam:Action="http://webservices.wsprovider.br.com/WSServices/comprarPassagemIdaRequest" message="tns:comprarPassagemIda"/>
<output wsam:Action="http://webservices.wsprovider.br.com/WSServices/comprarPassagemIdaResponse" message="tns:comprarPassagemIdaResponse"/>
</operation>
<operation name="listarPassagens">
<input wsam:Action="http://webservices.wsprovider.br.com/WSServices/listarPassagensRequest" message="tns:listarPassagens"/>
<output wsam:Action="http://webservices.wsprovider.br.com/WSServices/listarPassagensResponse" message="tns:listarPassagensResponse"/>
</operation>
<operation name="cancelarPassagem">
<input wsam:Action="http://webservices.wsprovider.br.com/WSServices/cancelarPassagemRequest" message="tns:cancelarPassagem"/>
<output wsam:Action="http://webservices.wsprovider.br.com/WSServices/cancelarPassagemResponse" message="tns:cancelarPassagemResponse"/>
</operation>
<operation name="comprarPassagemIdaVolta">
<input wsam:Action="http://webservices.wsprovider.br.com/WSServices/comprarPassagemIdaVoltaRequest" message="tns:comprarPassagemIdaVolta"/>
<output wsam:Action="http://webservices.wsprovider.br.com/WSServices/comprarPassagemIdaVoltaResponse" message="tns:comprarPassagemIdaVoltaResponse"/>
</operation>
</portType>
<binding name="WSServicesPortBinding" type="tns:WSServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bucarVoos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprarPassagemIda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPassagens">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarPassagem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprarPassagemIdaVolta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicosDePassagensWS">
<port name="WSServicesPort" binding="tns:WSServicesPortBinding">
<soap:address location="http://192.168.92.50:8080/ServicosDePassagensWS/WSServices"/>
</port>
</service>
</definitions>