LocadoraClienteWS/xml-resources/web-service-references/WSReservaRestaurante/wsdl/192.168.92.56_8080/WSReservaRestaurante/WSReservaRestaurante.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservicesexternos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservicesexternos/" name="WSReservaRestaurante">
<types>
<xsd:schema>
<xsd:import namespace="http://webservicesexternos/" schemaLocation="http://192.168.92.56:8080/WSReservaRestaurante/WSReservaRestaurante?xsd=1"/>
</xsd:schema>
</types>
<message name="criarReserva">
<part name="parameters" element="tns:criarReserva"/>
</message>
<message name="criarReservaResponse">
<part name="parameters" element="tns:criarReservaResponse"/>
</message>
<message name="listarReservas">
<part name="parameters" element="tns:listarReservas"/>
</message>
<message name="listarReservasResponse">
<part name="parameters" element="tns:listarReservasResponse"/>
</message>
<message name="pesquisarReserva">
<part name="parameters" element="tns:pesquisarReserva"/>
</message>
<message name="pesquisarReservaResponse">
<part name="parameters" element="tns:pesquisarReservaResponse"/>
</message>
<message name="buscarRestaurantesPorCidade">
<part name="parameters" element="tns:buscarRestaurantesPorCidade"/>
</message>
<message name="buscarRestaurantesPorCidadeResponse">
<part name="parameters" element="tns:buscarRestaurantesPorCidadeResponse"/>
</message>
<portType name="WSReservaRestaurante">
<operation name="criarReserva">
<input wsam:Action="http://webservicesexternos/WSReservaRestaurante/criarReservaRequest" message="tns:criarReserva"/>
<output wsam:Action="http://webservicesexternos/WSReservaRestaurante/criarReservaResponse" message="tns:criarReservaResponse"/>
</operation>
<operation name="listarReservas">
<input wsam:Action="http://webservicesexternos/WSReservaRestaurante/listarReservasRequest" message="tns:listarReservas"/>
<output wsam:Action="http://webservicesexternos/WSReservaRestaurante/listarReservasResponse" message="tns:listarReservasResponse"/>
</operation>
<operation name="pesquisarReserva">
<input wsam:Action="http://webservicesexternos/WSReservaRestaurante/pesquisarReservaRequest" message="tns:pesquisarReserva"/>
<output wsam:Action="http://webservicesexternos/WSReservaRestaurante/pesquisarReservaResponse" message="tns:pesquisarReservaResponse"/>
</operation>
<operation name="buscarRestaurantesPorCidade">
<input wsam:Action="http://webservicesexternos/WSReservaRestaurante/buscarRestaurantesPorCidadeRequest" message="tns:buscarRestaurantesPorCidade"/>
<output wsam:Action="http://webservicesexternos/WSReservaRestaurante/buscarRestaurantesPorCidadeResponse" message="tns:buscarRestaurantesPorCidadeResponse"/>
</operation>
</portType>
<binding name="WSReservaRestaurantePortBinding" type="tns:WSReservaRestaurante">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="criarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pesquisarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRestaurantesPorCidade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSReservaRestaurante">
<port name="WSReservaRestaurantePort" binding="tns:WSReservaRestaurantePortBinding">
<soap:address location="http://192.168.92.56:8080/WSReservaRestaurante/WSReservaRestaurante"/>
</port>
</service>
</definitions>