LocadoraClienteWS/xml-resources/web-service-references/WSExterno/wsdl/192.168.92.1_8080/WSExterno/WSExterno.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="buscarHoteisPorCidade" type="tns:buscarHoteisPorCidade"/>

<xs:element name="buscarHoteisPorCidadeResponse" type="tns:buscarHoteisPorCidadeResponse"/>

<xs:element name="buscarReservaPorCodigo" type="tns:buscarReservaPorCodigo"/>

<xs:element name="buscarReservaPorCodigoResponse" type="tns:buscarReservaPorCodigoResponse"/>

<xs:element name="listarReservasPorData" type="tns:listarReservasPorData"/>

<xs:element name="listarReservasPorDataResponse" type="tns:listarReservasPorDataResponse"/>

<xs:element name="quartosDisponiveis" type="tns:quartosDisponiveis"/>

<xs:element name="quartosDisponiveisResponse" type="tns:quartosDisponiveisResponse"/>

<xs:element name="reservasHospede" type="tns:reservasHospede"/>

<xs:element name="reservasHospedeResponse" type="tns:reservasHospedeResponse"/>

<xs:element name="salvarResevar" type="tns:salvarResevar"/>

<xs:element name="salvarResevarResponse" type="tns:salvarResevarResponse"/>

<xs:complexType name="quartosDisponiveis">
<xs:sequence>
<xs:element name="dataEntrada" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dataSaida" type="xs:dateTime" minOccurs="0"/>
<xs:element name="codHotel" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quartosDisponiveisResponse">
<xs:sequence>
<xs:element name="return" type="tns:quarto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quarto">
<xs:sequence>
<xs:element name="disponivel" type="xs:boolean"/>
<xs:element name="numero" type="xs:int"/>
<xs:element name="preco" type="xs:double"/>
<xs:element name="qtdHospede" type="xs:int"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarResevar">
<xs:sequence>
<xs:element name="reserva" type="tns:reservaHotel" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservaHotel">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="dataReserva" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dataSaida" type="xs:dateTime" minOccurs="0"/>
<xs:element name="emailHospede" type="xs:string" minOccurs="0"/>
<xs:element name="hotel" type="tns:hotel" minOccurs="0"/>
<xs:element name="quarto" type="tns:quarto" minOccurs="0"/>
<xs:element name="valorReserva" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotel">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="enderecoHotel" type="tns:enderecoHotel" minOccurs="0"/>
<xs:element name="gerente" type="tns:gerente" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="quartos" type="tns:quarto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enderecoHotel">
<xs:sequence>
<xs:element name="cidade" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="rua" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="gerente">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarResevarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarHoteisPorCidade">
<xs:sequence>
<xs:element name="cidade" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarHoteisPorCidadeResponse">
<xs:sequence>
<xs:element name="return" type="tns:hotel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarReservasPorData">
<xs:sequence>
<xs:element name="dataReserva" type="xs:dateTime" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarReservasPorDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservaHotel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarReservaPorCodigo">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarReservaPorCodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservaHotel" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasHospede">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasHospedeResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservaHotel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>