LocadoraClienteWS/xml-resources/web-service-references/WSExterno/wsdl/192.168.92.1_8080/WSExterno/WSExterno.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSExterno">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://192.168.92.1:8080/WSExterno/WSExterno?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarHoteisPorCidade">
<part name="parameters" element="tns:buscarHoteisPorCidade"/>
</message>
<message name="buscarHoteisPorCidadeResponse">
<part name="parameters" element="tns:buscarHoteisPorCidadeResponse"/>
</message>
<message name="buscarReservaPorCodigo">
<part name="parameters" element="tns:buscarReservaPorCodigo"/>
</message>
<message name="buscarReservaPorCodigoResponse">
<part name="parameters" element="tns:buscarReservaPorCodigoResponse"/>
</message>
<message name="reservasHospede">
<part name="parameters" element="tns:reservasHospede"/>
</message>
<message name="reservasHospedeResponse">
<part name="parameters" element="tns:reservasHospedeResponse"/>
</message>
<message name="listarReservasPorData">
<part name="parameters" element="tns:listarReservasPorData"/>
</message>
<message name="listarReservasPorDataResponse">
<part name="parameters" element="tns:listarReservasPorDataResponse"/>
</message>
<message name="quartosDisponiveis">
<part name="parameters" element="tns:quartosDisponiveis"/>
</message>
<message name="quartosDisponiveisResponse">
<part name="parameters" element="tns:quartosDisponiveisResponse"/>
</message>
<message name="salvarResevar">
<part name="parameters" element="tns:salvarResevar"/>
</message>
<message name="salvarResevarResponse">
<part name="parameters" element="tns:salvarResevarResponse"/>
</message>
<portType name="WSExterno">
<operation name="buscarHoteisPorCidade">
<input wsam:Action="http://ws/WSExterno/buscarHoteisPorCidadeRequest" message="tns:buscarHoteisPorCidade"/>
<output wsam:Action="http://ws/WSExterno/buscarHoteisPorCidadeResponse" message="tns:buscarHoteisPorCidadeResponse"/>
</operation>
<operation name="buscarReservaPorCodigo">
<input wsam:Action="http://ws/WSExterno/buscarReservaPorCodigoRequest" message="tns:buscarReservaPorCodigo"/>
<output wsam:Action="http://ws/WSExterno/buscarReservaPorCodigoResponse" message="tns:buscarReservaPorCodigoResponse"/>
</operation>
<operation name="reservasHospede">
<input wsam:Action="http://ws/WSExterno/reservasHospedeRequest" message="tns:reservasHospede"/>
<output wsam:Action="http://ws/WSExterno/reservasHospedeResponse" message="tns:reservasHospedeResponse"/>
</operation>
<operation name="listarReservasPorData">
<input wsam:Action="http://ws/WSExterno/listarReservasPorDataRequest" message="tns:listarReservasPorData"/>
<output wsam:Action="http://ws/WSExterno/listarReservasPorDataResponse" message="tns:listarReservasPorDataResponse"/>
</operation>
<operation name="quartosDisponiveis">
<input wsam:Action="http://ws/WSExterno/quartosDisponiveisRequest" message="tns:quartosDisponiveis"/>
<output wsam:Action="http://ws/WSExterno/quartosDisponiveisResponse" message="tns:quartosDisponiveisResponse"/>
</operation>
<operation name="salvarResevar">
<input wsam:Action="http://ws/WSExterno/salvarResevarRequest" message="tns:salvarResevar"/>
<output wsam:Action="http://ws/WSExterno/salvarResevarResponse" message="tns:salvarResevarResponse"/>
</operation>
</portType>
<binding name="WSExternoPortBinding" type="tns:WSExterno">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarHoteisPorCidade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarReservaPorCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reservasHospede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarReservasPorData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="quartosDisponiveis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvarResevar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSExterno">
<port name="WSExternoPort" binding="tns:WSExternoPortBinding">
<soap:address location="http://192.168.92.1:8080/WSExterno/WSExterno"/>
</port>
</service>
</definitions>